@font-face {
    font-family: "Outfit";
    src: url(https://fonts.google.com/specimen/Outfit);
}

body {
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Outfit";
}

section {
    width: 310px;
    height: fit-content;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: hsl(216, 50%, 16%);
    border-radius: 1em;
}

.main-img {
    border-radius: 1em;
    cursor: pointer;
}

.main-img-container {
    background: hsl(216, 50%, 16%);
}

h3 {
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

h3:hover {
    color: hsl(178, 100%, 50%)
}

p {
    color: hsla(0, 0%, 100%, 0.541);
}

.name {
    color: white;
    cursor: pointer;
}

.name:hover {
    color: hsl(178, 100%, 50%)
}

h4 {
    color: hsl(178, 100%, 50%);
}

hr {
    border-color: hsl(215, 32%, 27%);
}

.profile-pic {
    width: 10%;
    border: 1px solid white;
    border-radius: 1em;
    align-self: center;
}

.mid-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
}